# Configurações do Banco de Dados
DB_HOST=localhost
DB_NAME=nome_do_banco
DB_USER=usuario_do_banco
DB_PASS=senha_do_banco

# Senha Master para Exclusão
DELETE_PASSWORD=sua_senha_segura_aqui

# Configurações da Aplicação
APP_ENV=local
APP_DEBUG=true
APP_URL=http://localhost/utm/

# Configurações de Sessão
SESSION_LIFETIME=120
SESSION_SECURE=false
SESSION_HTTP_ONLY=true
